<font size="4" color="BLUE"> 題網 範例11.13 p592</font></br>
<img src="https://raw.githubusercontent.com/cathouse2477/statimage/main/stat_11.13_p592.jpg" align="left" width="80%">

<font size="5" color="orange">二因子變異數分析</font>

In [62]:
import numpy as np 
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

df=pd.DataFrame({
    'operator': np.tile(np.repeat( ["operator-1","operator-2","operator-3","operator-4","operator-5"],1),3),
     'machine': np.repeat( ["machine-1","machiner-2","machine-3"],5),
     'output' : [53,47,46,50,49,51,51,49,54,50,61,55,52,58,54]})
df
#df[:10]
## 'sun': np.tile(np.repeat(['low', 'med', 'high'], 5), 2),

      operator     machine  output
0   operator-1   machine-1      53
1   operator-2   machine-1      47
2   operator-3   machine-1      46
3   operator-4   machine-1      50
4   operator-5   machine-1      49
5   operator-1  machiner-2      51
6   operator-2  machiner-2      51
7   operator-3  machiner-2      49
8   operator-4  machiner-2      54
9   operator-5  machiner-2      50
10  operator-1   machine-3      61
11  operator-2   machine-3      55
12  operator-3   machine-3      52
13  operator-4   machine-3      58
14  operator-5   machine-3      54

In [63]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

#perform two-way ANOVA
model = ols('output ~ C(operator) + C(machine) ', data=df).fit()
sm.stats.anova_lm(model, typ=2)

             sum_sq   df          F    PR(>F)
C(operator)    72.0  4.0   6.545455  0.012193
C(machine)    130.0  2.0  23.636364  0.000439
Residual       22.0  8.0        NaN       NaN

In [65]:
結論:  </br>
1. 機器的性能會顯著影響產量，換言之，機器的性能存在顯著差異。 </br>
2.作3⇣

SyntaxError: invalid character in identifier (<ipython-input-65-6f092b870a71>, line 1)